<div class="container">
  <form #locationChange="ngForm">
    <div class="row color rounded bg-info text-white mt-2">
      <h5>General (All Fields Are Mandatory)</h5>
    </div>
    <!--First Row starts here-->
    <div class="row border mt-1">
      <div class="col-sm-12 border py-3">
        <div class="row">
          <div class="col-sm-5">
            <h6><strong>Category:</strong></h6>
          </div>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="category" [(ngModel)]="category">
          </div>
        </div>
      </div>
    </div>
    <!-- first row end here -->
    <!-- second row start here -->
    <div class="row border mt-1">
      <div class="col-sm-12 border py-3">
        <div class="row">
          <div class="col-sm-5">
            <h6><strong>Access type:</strong></h6>
          </div>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="accessType" [(ngModel)]="accessType">
          </div>
        </div>
      </div>
    </div>
    <!-- second row end here -->
    <!-- third row start here -->
    <div class="row color rounded bg-info text-white mt-2">
      <h5>Location Change Form</h5>
    </div>
    <div class="row border bg-white mt-1">
      <div class="col-sm-6 border py-3">
        <h6><strong>Employee ID:</strong></h6>
        <!-- <div class="col-sm-8"> -->
        <input class="form-control" type="text" name="empId" [(ngModel)]="empId">
        <!-- </div> -->
      </div>
      <div class="col-sm-6 border py-3">
        <div class="row">
          <div class="col-sm-6">
            <h6><strong>Employee Type:</strong></h6>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12 py-3">
                <label class="custom-control custom-radio">
                  <input id="radio1" name="empType" type="radio" value="permanant" class="custom-control-input" [(ngModel)]="empType">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Permanant</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <label class="custom-control custom-radio">
                  <input id="radio1" name="empType" type="radio" value="temporary" class="custom-control-input" [(ngModel)]="empType">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Temporary</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--First Row ends here-->
    <!--Second Row starts here-->
    <div class="row border bg-white mt-1">
      <div class="col-sm-4 border py-3">
        <div class="row">
          <div class="col-sm-2 py-2">
            <h6><strong>Name:</strong></h6>
          </div>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="empName" [(ngModel)]="empName">
          </div>
        </div>
      </div>
      <div class="col-sm-4 border py-3">
        <div class="row">
          <div class="col-sm-5 py-2">
            <h6><strong>Date of Joining:</strong></h6>
          </div>
          <div class="col-sm-7">
            <input type="text" class="form-control bg-white" bsDatepicker name="dateOfJoining" [(ngModel)]="dateOfJoining" />
          </div>
        </div>
      </div>
      <div class="col-sm-4 border py-3">
        <div class="row">
          <div class="col-sm-4 py-2">
            <h6><strong>Designation:</strong></h6>
          </div>
          <div class="col-sm-8">
            <input class="form-control" type="text" name="designation" [(ngModel)]="designation">
          </div>
        </div>
      </div>
    </div>
    <!--Second Row ends here-->
    <!--Third Row ends here-->
    <div class="row border bg-white mt-1">
      <div class="col-sm-12 border py-3">
        <div class="row">
          <div class="col-sm-2 py-2">
            <h6><strong>Project / Function:</strong></h6>
          </div>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="project" [(ngModel)]="project">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-2 py-2">
            <h6><strong>OU / Department:</strong></h6>
          </div>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="ou" [(ngModel)]="ou">
          </div>
        </div>
      </div>
    </div>
    <!--Third Row ends here-->
    <!--Fourth Row starts here-->
    <div class="row border bg-white mt-1">
      <div class="col-sm-6 border py-3">
        <div class="row">
          <div class="col-sm-4 py-2">
            <h6><strong>Status:</strong></h6>
          </div>
          <div class="col-sm-4 py-2">
            <label class="custom-control custom-radio">
              <input id="radio3" name="status" type="radio" class="custom-control-input" value="permanant" [(ngModel)]="status">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Permanant</span>
            </label>
          </div>
          <div class="col-sm-4 py-2">
            <label class="custom-control custom-radio">
              <input id="radio3" name="status" type="radio" class="custom-control-input" value="temporary" [(ngModel)]="status">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Temporary</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-6 border py-3">
        <div class="row">
          <div class="col-sm-7 py-2">
            <h6><strong>Date of Expiry of Temporary Card:</strong></h6>
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control bg-white" bsDatepicker name="dateOfExpiry" [(ngModel)]="dateOfExpiry">
          </div>
        </div>
      </div>
    </div>
    <!--Fourth Row ends here-->
    <!--Fifth Row starts here-->
    <div class="row border bg-white mt-1">
      <div class="col-sm-12 border py-3">
        <div class="row">
          <div class="col-sm-12 py-2">
            <h6><input type="checkbox" name="projectTransfer" [(ngModel)]="projectTransfer"><strong>  Project Transfer (In Case of Transfer)</strong></h6>
          </div>
        </div>
      </div>
    </div>
    <!--Fifth Row ends here-->
    <!--Sixth Row starts here-->
    <div class="row border bg-white mt-1">
      <div class="col-sm-6 border py-3">
        <div class="row">
          <div class="col-sm-5 py-2">
            <h6><strong>Existing Location:</strong></h6>
          </div>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="existingLocation" [(ngModel)]="existingLocation">
          </div>
        </div>
      </div>
      <div class="col-sm-6 border py-3">
        <div class="row">
          <div class="col-sm-5 py-2">
            <h6><strong>New Location:</strong></h6>
          </div>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="newLocation" [(ngModel)]="newLocation">
          </div>
        </div>
      </div>
    </div>
    <!--Sixth Row ends here-->
    <div class="row color rounded bg-info mt-2 text-white">
      <h5>Signatures</h5>
    </div>
    <!--First Row starts here-->
    <div class="row border bg-white mt-1">
      <div class="col-sm-6 border py-3">
        <div class="row">
          <div class="col-sm-5 py-2">
            <h6><strong>Applicants Signature:</strong></h6>
          </div>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="signature" [(ngModel)]="signature">
          </div>
        </div>
      </div>
      <div class="col-sm-6 border py-3">
        <div class="row">
          <div class="col-sm-5 py-2">
            <h6><strong>Date:</strong></h6>
          </div>
          <div class="col-sm-7">
            <input type="text" class="form-control bg-white" placement="top" bsDatepicker name="date" [(ngModel)]="date">
          </div>
        </div>
      </div>
    </div>
<div class="row justify-content-center">
<div class="col-sm-3 mt-2 mb-3">
    <button class="btn btn-success text-white form-control" (click)="locationChangeSubmit(locationChange)">Submit Your Request</button>
  </div>
   <div class="col-sm-3 mt-2 mb-3">
    <button class="btn btn-danger text-white form-control" (click)="back()">Go Back</button>
  </div>
  </div>
    <!-- third row end here -->
    <!-- </form> -->
  </form>
</div>
