       <div class="container">
<div class="row color rounded bg-info text-white mt-2">
      <h5>IR 71 Form</h5>
    </div>

        <div class="row border bg-white mt-1">
          <div class="col-sm-6 border py-3">
            <h6><strong>Employee ID:</strong></h6>
            <!-- <div class="col-sm-8"> -->
            <input class="form-control bg-white" type="text" name="designation" value={{empId}} readonly="true">
          <!-- </div> -->
          </div>
          <div class="col-sm-6 border py-3">
            <div class="row">
              <div class="col-sm-6">
             <h6><strong>Employee Type:</strong></h6>
             </div>
             <div class="col-sm-6">
             <div class="row">
              <div class="col-sm-12 py-3">
                <label class="custom-control custom-radio">
                  <input id="radio1" name="empType" type="radio" value="Permanent" class="custom-control-input" [(ngModel)]="empType" (change)="OnRadioButtonSelection()">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Permanent</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <label class="custom-control custom-radio">
                  <input id="radio1" name="empType" type="radio" value="Temporary" class="custom-control-input" [(ngModel)]="empType" (change)="OnRadioButtonSelection()">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Temporary</span>
                </label>
              </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    <!--First Row ends here-->
    <!--Second Row starts here-->
    <div class="row border bg-white mt-1">
      <div class="col-sm-4 border py-3">
        <div class="row">
          <div class="col-sm-2 py-2">
            <h6><strong>Name:</strong></h6>
          </div>
          <div class="col-sm-10">
            <input class="form-control bg-white" type="text" name="name" value={{empName}} readonly="true">
          </div>
        </div>
      </div>
      <div class="col-sm-4 border py-3">
        <div class="row">
          <div class="col-sm-5 py-2">
            <h6><strong>Date of Joining:</strong></h6>
          </div>
          <div class="col-sm-7">
            <input type="text" class="form-control bg-white" name="doj" value={{doj}} readonly="true"/>
          </div>
        </div>
      </div>
      <div class="col-sm-4 border py-3">
        <div class="row">
          <div class="col-sm-4 py-2">
            <h6><strong>Designation:</strong></h6>
          </div>
          <div class="col-sm-8">
            <input class="form-control" type="text" name="designation" [(ngModel)]="designation" readonly="true">
          </div>
        </div>
      </div>
    </div>
    <!--Second Row ends here-->
    <!--Third Row ends here-->
    <div class="row border bg-white mt-1">
      <div class="col-sm-12 border py-3">
        <div class="row">
          <div class="col-sm-2 py-2">
            <h6><strong>Project / Function:</strong></h6>
          </div>
          <div class="col-sm-10">
            <input class="form-control bg-white" type="text" name="project" value={{project}} readonly="true">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-2 py-2">
            <h6><strong>OU / Department:</strong></h6>
          </div>
          <div class="col-sm-10">
            <input class="form-control bg-white" type="text" name="ou" value={{department}} readonly="true">
          </div>
        </div>
      </div>
    </div>
    <!--Third Row ends here-->
    <!--Fourth Row starts here-->
    <div class="row border bg-white mt-1">
      <div class="col-sm-6 border py-3">
        <div class="row">
          <div class="col-sm-4 py-2">
            <h6><strong>Status:</strong></h6>
          </div>
          <div class="col-sm-4 py-2">
            <label class="custom-control custom-radio">
              <input id="radio3" name="status" type="radio" class="custom-control-input" value="Permanent" [(ngModel)]="status" (change)="onChange()">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Permanent</span>
            </label>
          </div>
          <div class="col-sm-4 py-2">
            <label class="custom-control custom-radio">
              <input id="radio3" name="status" type="radio" class="custom-control-input" value="Temporary" [(ngModel)]="status" (change)="onChange()">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Temporary</span>
            </label>
          </div>
        </div>
      </div>

      <div class="col-sm-6 border py-3" *ngIf="status==='Temporary'">
        <div class="row">
          <div class="col-sm-7 py-2">
            <h6><strong>Date of Expiry of Temporary Card:</strong></h6>
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control bg-white" bsDatepicker name="doe" [(ngModel)]="doe" readonly="true">
          </div>
        </div>
      </div>

 

    </div>
    <!--Fourth Row ends here-->
    <!--Fifth Row starts here-->
    <div class="row border bg-white mt-1">
      <div class="col-sm-12 border py-3">
        <div class="row">
          <div class="col-sm-12 py-2">
            <h6><input type="checkbox" name="transfer"><strong>  Project Transfer (In Case of Transfer)</strong></h6>
          </div>
        </div>
      </div>
    </div>
    <!--Fifth Row ends here-->
    <!--Sixth Row starts here-->
    <div class="row border bg-white mt-1">
      <div class="col-sm-6 border py-3">
        <div class="row">
          <div class="col-sm-5 py-2">
            <h6><strong>Existing Project Name:</strong></h6>
          </div>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="existname" [(ngModel)]="existPro">
          </div>
        </div>
      </div>
      <div class="col-sm-6 border py-3">
        <div class="row">
          <div class="col-sm-5 py-2">
            <h6><strong>New Project Name:</strong></h6>
          </div>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="newname" [(ngModel)]="newPro">
          </div>
        </div>
      </div>
    </div>
    <!--Sixth Row ends here-->
    <div class="row color rounded bg-info mt-2 text-white">
      <h5>Signatures</h5>
    </div>
    <!--First Row starts here-->
    <div class="row border bg-white mt-1">
      <div class="col-sm-6 border py-3">
        <div class="row">
          <div class="col-sm-5 py-2">
            <h6><strong>Applicant's Signature:</strong></h6>
          </div>
          <div class="col-sm-7">
            <input class="form-control" type="text" placeholder="Enter Your Credentials" name="existname" [(ngModel)]="appSign">
          </div>
        </div>
      </div>
      <div class="col-sm-6 border py-3">
        <div class="row">
          <div class="col-sm-5 py-2">
            <h6><strong>Date:</strong></h6>
          </div>
          <div class="col-sm-7">
            <input type="text" class="form-control bg-white" placement="top" bsDatepicker name="dateCurr" [(ngModel)]="dateCurr" readonly="true">
          </div>
        </div>
      </div>
    </div>
    <!--First Row ends here-->
<div class="row justify-content-center">
<div class="col-sm-3 mt-2 mb-3">
    <button class="btn btn-success text-white form-control" (click)="save(template1)">Submit Your Request</button>
  </div>
  <div class="col-sm-3 mt-2 mb-3">
    <button class="btn btn-danger text-white form-control" (click)="back(template2)">Go Back</button>
  </div>
  </div>
    </div>

    <template #template1>
  <div class="modal-header">
    <h4 class="modal-title">Message</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <strong>Your request has been forwarded to Supervisor</strong>  
  </div>
</template>

<template #template2>
  <div class="modal-header">
    <h4 class="modal-title">Message</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <strong>Do you really want to go back?</strong> 
  </div>
  <div class="modal-footer">
   <button class="btn btn-md btn-primary" (click)="backit()">Yes</button>
    <button class="btn btn-md btn-danger" (click)="modalRef.hide()">No</button>
    </div>
</template>
    