.generalrow{
	background-color: black;
	color:white;

}
.generalrow p{
	font-weight: bold
}

.inputname{
	width: 62%;
}


.heading{
    background-color: black;
    color: white;
}
.dates{
    margin-top:15%;
}
.data{
    border-style: solid;
   border-width: 2% 5% 4% 5%;
}